@()
<link rel="shortcut icon" href="@routes.Assets.at("gds/favicon-447e4ac1ab790342660eacfe3dcce264.ico")" type="image/x-icon">
<!-- For third-generation iPad with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="@routes.Assets.at("gds/apple-touch-icon-144x144-4e306e01c31e237722b82b7aa7130082.png")">
<!-- For iPhone with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.at("gds/apple-touch-icon-114x114-f1d7ccdc7b86d923386b373a9ba5e3db.png")">
<!-- For first- and second-generation iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.at("gds/apple-touch-icon-72x72-2ddbe540853e3ba0d30fbad2a95eab3c.png")">
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("gds/apple-touch-icon-57x57-37527434942ed8407b091aae5feff3f3.png")">
